<h1>Editing venue_type_detail</h1>

<% form_for(@venue_type_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :detail %><br />
    <%= f.text_field :detail %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @venue_type_detail %> |
<%= link_to 'Back', venue_type_details_path %>